@CHARSET "UTF-8";

body { padding-top: 70p; }
navbar-header {height: 180px;background-color:#FFFFFF}

.presentation{
float:left;
width:101px;
height:142px;
margin-right:5px;
background-image: url('/img/presentation_men.png');
background-repeat:no-repeat;
}

.presentation:hover{
width:101px;
height:142px;
background-image: url('/img/presentation_men_selec.png');
background-repeat:no-repeat;
}

.avenir{
float:left;
width:101px;
height:142px;
background-image: url('/img/avenir_men.png');
background-repeat:no-repeat;
}

.avenir:hover{
width:101px;
height:142px;
background-image: url('/img/avenir_men_selec.png');
background-repeat:no-repeat;
}

.passes{
float:left;
width:101px;
height:142px;
background-image: url('/img/passes_men.png');
background-repeat:no-repeat;
}

.passes:hover{
width:101px;
height:142px;
background-image: url('/img/passes_men_selec.png');
background-repeat:no-repeat;
}

.membres{
float:left;
width:101px;
height:142px;
background-image: url('/img/membres_men.png');
background-repeat:no-repeat;
}

.membres:hover{
width:101px;
height:142px;
background-image: url('/img/membres_men_selec.png');
background-repeat:no-repeat;
}

.perso{
float:left;
width:101px;
height:142px;
background-image: url('/img/perso_men.png');
background-repeat:no-repeat;
}

.perso:hover{
width:101px;
height:142px;
background-image: url('/img/perso_men_selec.png');
background-repeat:no-repeat;
}

.documents{
float:left;
width:101px;
height:142px;
background-image: url('/img/documents_men.png');
background-repeat:no-repeat;
}

.documents:hover{
width:101px;
height:142px;
background-image: url('/img/documents_men_selec.png');
background-repeat:no-repeat;
}


