{% extends 'AssogestWebsiteBundle::Public/layout.html.twig' %}

{% block body %}

<a href="{{ path('assogest_website_documents') }}" class="btn btn-default btn-mini">Retour</a><br />
	
<h1>Créer un commentaire</h1>

{{ form(form) }}

{% endblock %}