{% extends 'AssogestWebsiteBundle::Public/layout.html.twig' %}

{% block body %}

<h1>Présentation</h1>

<p> 
Fondée le 26 décembre 2012 à Nancy, notre association met en relation amis et proches en organisant régulièrement des évènements privés. Basée sur des valeurs de tolérance et d'égalité, elle s'efforce d'ouvrir ses portes à tout ceux qui en font la demande. Elle représente l'aboutissement des longues années d'amitié d'un groupe qui aime s'amuser mais qui sait aussi s'entraider lors des moments les plus durs.
 </p>
 <p>
Adhérer à l'association c'est afficher la volonté de conserver dans la durée les liens qui nous lient, promouvoir nos valeurs et s'investir dans la vie du groupe.
</p>


{% endblock %} 